@model HassanAyoubTraders.Models.ViewModels.CityViewDataModel

@{
    ViewBag.Title = "CityAddEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "add-edit-form" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Add / Edit City
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <p>
                                <b>Name</b>
                            </p>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-sm" })
                        </div>
                     </div>
                    <div class="row clearfix">
                        <div class="col-md-5 pull-right">
                            <button type="button" id="btnSave" class="btn btn-success waves-effect pull-right">
                                <i class="material-icons">add_shopping_cart</i>
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $("#add-edit-form :input").change(function () {
            $("#add-edit-form").data("changed", true);
        });

        $('#btnSave').click(function () {
            Save();
        });
    });

    function Validation() {
        if ($("#Name").val() == "") {
            AlertMsg('<strong>Alert!</strong>', 'Area Name is Required!', 'info');
            $('#Name').focus();
            return;
        }
        return true;
    }

    function Save() {

        if (!$("#add-edit-form").data("changed")) {
            AlertMsg('', '<strong>Form is unchanged!</strong>', 'warning');
            return;
        }

        if (Validation() == true) {
            var model = GetDataModel();
            //Show loader here
            $('.page-loader-wrapper').show();
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "@Url.Action("SaveCityAddEdit")",
                data: JSON.stringify(model),
                success: function (res) {
                    if (res.Result == "OK") {
                        AlertMsg('<strong>Success! </strong>', res.detail, 'info');
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    }
                    else {
                        $('.page-loader-wrapper').hide();
                        AlertMsg('<strong>Error! </strong>', res.detail, 'info');
                    }
                },
                failure: function (response) {
                    $('#result').html(response);
                },
                complete: function () {
                    $('.page-loader-wrapper').hide();
                }
            });
        }
    }

    function GetDataModel() {
        var model = {
            Id: $('#Id').val(),
            Name: $('#Name').val()
        };
        return model;
    }
</script>
